<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509027181400-kvk3c8chgvi8hv5hpre352h3qp5qhhkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509027181400-kvk3c8chgvi8hv5hpre352h3qp5qhhkr</string>
	<key>API_KEY</key>
	<string>AIzaSyD-byFHB6T-D5gxjPTgMs9iv4BW8V6zZPY</string>
	<key>GCM_SENDER_ID</key>
	<string>509027181400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aelf.aelfBox</string>
	<key>PROJECT_ID</key>
	<string>aelf-lottery</string>
	<key>STORAGE_BUCKET</key>
	<string>aelf-lottery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509027181400:ios:faa80fa9a545b547723b2d</string>
	<key>DATABASE_URL</key>
	<string>https://aelf-lottery.firebaseio.com</string>
</dict>
</plist>